html {
    scroll-behavior: smooth;
}

button {
    background-color: #555555;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

div {
    padding-bottom: 10px;
}

.table1 td {
    table-layout: auto;
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 10px;
}

.table3 td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 70px;
}

.table3 {
    border-collapse: collapse;
    table-layout: fixed;
}

.tb3 {
    height: 425px;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    display: block;
}

thead {
    background: #b7b795;
    display: inline-block;
    width: 100%;
}

tr[value="green"] {
    border: 2px solid #80ff80;
    background-color: #e6ffe6;
}

tr[value="red"] {
    border: 2px solid #ff471a;
    background-color: #ffd6cc;
}

tr[selected="1"] {
    border: 2px solid #668cff;
    background-color: #e6e6e6;
}

td[selected="1"] {
    border: 2px solid #668cff;
    background-color: #e6e6e6;
}

td[selected="2"] {
    border: 2px solid #80ff80;
    background-color: #e6ffe6;
}

tr[selected="2"] {
    border: 2px solid #00cc00;
    background-color: #e6e6e6;
}

td[selected="3"] {
    border: 2px solid #b32400;
    background-color: #ffd6cc;
}

tr[selected="3"] {
    border: 2px solid #b32400;
    background-color: #e6e6e6;
}

.split {
    height: 500px;
    width: 50%;
    position: fixed;
    overflow-x: hidden;
}

.left {
    padding-left: 5px;
}

.right {
    right: 5px;
}

textarea {
    border: 2px solid #ffd6cc;
}

.paginationBtn {
    background-color: #555555;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}